<div class="footer">

  <div class="flex_container__column gap-1rem">
    <div class="title">Info</div>
    <div class="info info1">
      <span> Made by: </span><b>Diana Inyachina </b>
      <span> Group: </span><b> P34111 </b>
      <span> Discipline: </span><b> SOA </b>
    </div>
  </div>
  <div class="flex_container__column gap-1rem">
    <div class="title">Links</div>
    <div class="info ">
      <a
        href="https://github.com/inyachina/soa-lab2.git"
      ><img class="link" src="assets/img/git.svg"/>
      </a>
    </div>
  </div>
  <div class="itmo_label title">ITMO 2022</div>

</div>
